fastapi
uvicorn
python-dotenv
pydantic
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-core
sentence-transformers
faiss-cpu
pypdf
python-docx
requests
numpy
slowapi
groq
